{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Busqueda Multipropietario</h1>
    <hr/>
    <form method="POST" action="/multipropietario" id="searchForm">
        <div hidden >  
            {{form.csrf_token}}
        </div>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Region</th>
                    <th>Comuna</th>
                    <th>Manzana</th>
                    <th>Predio</th>
                    <th>Año Vigencia</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <td>
                    <input type="text" class="form-control" id="region-select" name="region" placeholder="Region">
                </td>
                <td>
                    <input type="text" class="form-control" id="comuna" name="comuna" placeholder="Comuna">
                </td>
                <td>
                    <input type="text" class="form-control" id="manzana" name="manzana" placeholder="Manzana">
                </td>
                <td>
                    <input type="text" class="form-control" id="predio" name="predio" placeholder="Predio">
                </td>
                <td>
                    <input type="text" class="form-control" id="ano_vigencia" name="ano_vigencia" placeholder="Año">
                </td>
                <td>
                    <button id="searchButton" class="btn btn-outline-success" type="submit" >Search</button>
                </td>
            </tbody>
    </form>

    <br/>
    <br/>
    <h1>Resultados</h1>
    <table class="table table-striped mt-3" id="resultsTable">
        <thead>
            <tr>
                <th>Comuna</th>
                <th>Manzana</th>
                <th>Predio</th>
                <th>RUN</th>
                <th>% Derecho</th>
                <th>Fecha de Inscripción</th>
                <th>Año de Inscripción</th>
                <th>Número de Inscripción</th>
                <th>Año Vigencia Inicial</th>
                <th>Año Vigencia Final</th>
            </tr>
        </thead>
        <tbody>
            {% if search_results %}
                {% for result in search_results %}
                <tr>
                    <td>{{ result.comuna }}</td>
                    <td>{{ result.manzana }}</td>
                    <td>{{ result.predio }}</td>
                    <td>{{ result.run_rut }}</td>
                    <td>{{ result.porc_derecho }}</td>
                    <td>{{ result.fecha_inscripcion}}</td>
                    <td>{{ result.ano_inscripcion}}</td>
                    <td>{{ result.num_inscripcion}}</td>
                    <td>{{ result.ano_vigencia_inicial}}</td>
                    <td>{{ result.ano_vigencia_final}}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="10" style="text-align: center;">No se encontraron resultados.</td>
                </tr>
            {% endif %}
                </tr>

    </table>
</div>

<script>function updateComunas() {
    var regionId = document.getElementById('region-select').value;
    var comunaSelect = document.getElementById('comuna-select');
    comunaSelect.innerHTML = '';

    if (regionId !== '') {
        fetch('/comunas/' + regionId).then(function(response) {
            response.json().then(function(data) {
                var defaultOption = new Option('Seleccione Comuna', '');
                comunaSelect.add(defaultOption);
                data.forEach(function(comuna) {
                    var option = new Option(comuna.descripcion, comuna.id);
                    comunaSelect.add(option);
                });
            });
        });
    } else {
        var defaultOption = new Option('Seleccione Comuna', '');
        comunaSelect.add(defaultOption);
    }
}

document.addEventListener('DOMContentLoaded', function() {
    var regionSelect = document.getElementById('region-select');
    var comunaSelect = document.getElementById('comuna-select');

    regionSelect.addEventListener('change', function() {
        comunaSelect.disabled = !this.value;
        if (!this.value) {
            comunaSelect.selectedIndex = 0; 
        }
    });

    comunaSelect.disabled = !regionSelect.value;
});
</script>
{% endblock %}
