{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Busqueda Multipropietario</h1>
    <hr/>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Comuna</th>
                <th>Manzana</th>
                <th>Predio</th>
                <th>Año</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Comuna" aria-label="Search">
                    </form>
                </td>
                <td>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Manzana" aria-label="Search">
                    </form>
                </td>
                <td>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Predio" aria-label="Search">
                    </form>
                </td>
                <td>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Año" aria-label="Search">
                    </form>
                </td>
                <td>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </td>
            </tr>
            
        </tbody>
        
    </table>

    <br/>
    <br/>
    <h1>Resultados</h1>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Comuna</th>
                <th>Manzana</th>
                <th>Predio</th>
                <th>RUN</th>
                <th>% Derecho</th>
                <th>Fecha de Inscripción</th>
                <th>Año de Inscripción</th>
                <th>Número de Inscripción</th>
                <th>Año Vigencia Inicial</th>
                <th>Año Vigencia Final</th>
            </tr>
        </thead>
        <tbody>
            {% if search_results %}
                {% for result in search_results %}
                <tr>
                    <td>{{ result.comuna }}</td>
                    <td>{{ result.manzana }}</td>
                    <td>{{ result.predio }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="10" style="text-align: center;">No se encontraron resultados.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock%}